body {
    font-family: Arial, sans-serif;
    width: 50vh;
  }

  button {
    display: block;
    width: 100%;
    padding: 0;
    font-size: inherit;
    background: none;
    border: none;
    color: rgb(15, 15, 17);
    text-align: left;
    cursor: pointer;
  }

  button:not(:last-child) {
    margin-bottom: 10px;
  }

  .separator {
    margin: 10px 0;
    border-bottom: 1px solid #ccc;
  }

  h2 {
    font-size: 1.2em;
    margin: 20px 0 10px;
  }

  